.main_container {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #e6edfa;
}

.map_container {
  width: 100%;
}

.map_paper {
  width: 100%;
  border-radius: 12px;
}

.map {
  width: 100%;
  height: 460px;
  border-radius: 12px;
}

.comment_card {
  border-radius: 12px;
}

.rating_card {
  border-radius: 12px;
}
